.word-img {
  max-width: 100px;
  border-width: 1px;
}

.base {
  height: 100px;
  padding-top: 8px;
  float: left;
  margin: 10px 10px 10px 0;
  border-radius: 1em;
  font-size:50px;
  text-align: center;
  user-select: none;
  -moz-user-select:none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cursive {
  font-family: "Cursive standard";
}

.solution {
  font-size: 30px;
  float: left;
}

.vowel {
  color: blue;
}

.consonant {
  color: red;
}

.mute {
  color: grey;
}

.complex {
  color: green;
  background-color: #d48989;
}

.good {
  background-color:lightgreen;
}

.draggable {
  background-color:lightblue;
}

.reload {
  margin-right: 80px;
}

.toolbar {
  margin-bottom: 10px;
}

.base {
  height: 100px;
  padding-top: 8px;
  float: left;
  margin: 10px 10px 10px 0;
  border-radius: 1em;
  font-size:50px;
  text-align: center;
  user-select: none;
  -moz-user-select:none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.draggable {
  background-color:lightblue;
}

.droppable {
  background-color:lightgray;
 }

.sound-0 {
  background-color: lightseagreen;
}

.sound-1 {
  background-color: lightcoral;
}

.sound-2 {
  background-color: lightpink;
}
